.container {
  display: flex;
}
#profile {
  position: relative;
  margin: 0 auto 2rem;
  display: flex;
}
#profile img {
  width: 5rem;
  height: 5rem;
  background: var(--color-translucent);
  border-radius: 50%;
  z-index: 2;
}
#profile svg {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  width: 8rem;
  height: 8rem;
  z-index: -1;
  animation: unset;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 700px) {
  #profile {
    margin-bottom: 4rem;
  }
  #profile img {
    width: 8rem;
    height: 8rem;
  }
  #profile svg {
    top: -4rem;
    left: -5rem;
    width: 16rem;
    height: 16rem;
    animation: rotate 20s linear infinite;
  }
}
