.container {
  display: flex;
}
#profile {
  position: relative;
  margin: 0 auto 2rem;
  display: flex;
}
#profile img {
  width: 4.5rem;
  height: 4.5rem;
  background: var(--color-g);
  border-radius: 50%;
  z-index: 2;
}
#profile svg {
  position: absolute;
  top: -3rem;
  left: -2.5rem;
  width: 10rem;
  height: 8rem;
  z-index: -1;
}

.animate {
  animation: rotate 2s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 700px) {
  #profile {
    margin: 0 auto 2.5rem;
  }
  #profile img {
    width: 6rem;
    height: 6rem;
  }
  #profile svg {
    top: -12rem;
    left: -7rem;
    width: 20rem;
    height: 20rem;
  }
}
