.container {
  padding: 20px 0;

  font-size: var(--font-size-6);
}

.title {
  margin-bottom: 10px;
}

.couponsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.8rem;
}

.coupon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: var(--height-max);
  border: 3px dashed var(--color-b);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}
.coupon:hover {
  background: var(--color-translucent);
}

@media screen and (max-width: 900px) {
  .coupon {
    height: var(--height-min);
  }
}
