.cards {
  display: grid;
  grid-gap: 1.5rem;
}
.cards a {
  position: relative;
  margin: 0 0 2rem;
  flex-basis: 100%;
  color: inherit;
  text-decoration: none;
  top: 0;
  transition: var(--transition);
  overflow: hidden;
}
.cards a:hover {
  top: -8px;
  /* border-color: transparent; */
}
.cards h3,
.cards p {
  margin: 0;
  padding: 1.5rem 0 0;
  text-align: left;
  color: var(--color-b);
}
.cards p {
  margin-bottom: 2.5rem;
}
.cards figure {
  display: flex;
  width: 100%;
  height: 256px;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--color-b);
  background: var(--color-b);
  border-radius: var(--radius);
}
.cards svg {
  width: 4.5rem;
  height: 4.5rem;
  color: var(--color-w-text);
  transition: transform 0.3s ease;
}
.cards a:hover svg,
.cards a:focus svg {
  transform: scale(1.1);
}
.cards span {
  float: left;
  font-weight: normal;
  font-size: var(--font-size-6);
  color: var(--color-g);
  margin: 0.15rem 0.5rem 0 0;
  z-index: -1;
}

@media only screen and (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards p {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 0;
  }

  .cards h3 {
    font-size: var(--font-size-4);
  }
  .cards p {
    font-size: var(--font-size-6);
    margin-bottom: 1.5rem;
  }
}
