.container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Estilos para o primeiro SVG */
.figure1 svg {
  fill: var(--color-b-fixed); /* Cor de preenchimento */
  width: 300px; /* Largura do SVG */
  height: auto; /* Altura ajustada automaticamente */
  position: relative; /* Garante que o z-index funcione corretamente */
  z-index: 2; /* Define a ordem de empilhamento */
  animation: pulse 3s infinite alternate; /* Animação de pulsação para o primeiro SVG */
  transition: fill 0.3s; /* Transição de cor ao passar o mouse */
}
.figure1 svg:hover {
  fill: rgba(0, 0, 0, 0.25); /* Cor de preenchimento ao passar o mouse */
  cursor: none;
}

.figure1 svg text {
  fill: transparent;
  font-size: 5rem;
}
.figure1 svg:hover text {
  fill: var(--color-b-fixed);
}

.figure1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: transparent;
  border: 1px solid var(--color-b-fixed);
  z-index: 1;
}

/* Definição da animação de pulsação */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@media screen and (max-width: 700px) {
  .figure1 svg {
    width: 200px;
  }
  .figure1 svg text {
    font-size: 3rem;
  }
}
