.posts {
  position: relative;
  display: flex;
  gap: 1.5rem;
  margin: 5rem auto 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.posts li {
  color: var(--color-b);
  padding: 0;
  width: 100%;
  margin-bottom: 3rem;
}
.posts div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  text-align: left;
}
.posts h2 {
  font-size: var(--font-size-4);
  padding: 0;
}
.posts a h2:hover,
.posts a h2:focus {
  text-decoration: underline;
}
.posts p {
  font-size: var(--font-size-6);
  padding: 0;
}
.posts span {
  position: relative;
  font-size: var(--font-size-6);
  font-weight: bold;
  border-radius: var(--radius-big);
  background: var(--color-b-fixed);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  color: var(--color-w);
  align-items: center;
  margin-bottom: 1rem;
  transition: var(--transition);
}
.posts figure {
  background: var(--color-w);
}

.loading {
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
  text-align: left;
}

@media only screen and (min-width: 700px) {
  .posts h2 {
    font-size: var(--font-size-3);
  }
  .posts p {
    font-size: var(--font-size-5);
  }
}
