.posts {
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.posts li {
  padding: 0;
  width: 100%;
}
.posts a {
  display: flex;
  flex-direction: column;
  background: var(--color-w);
  padding: 2rem;

  display: flex;
  text-align: left;
  border-radius: var(--radius);
  transition: var(--transition);
}
.posts a:hover h3,
.posts a:focus h3 {
  text-decoration: underline;
}

.posts svg {
  width: 1rem;
  height: 1rem;
  color: var(--color-b-fixed);
}

.posts h3 {
  font-size: 1.25rem;
  padding: 0 0 1.5rem;
  color: var(--color-b-fixed);
}
.posts p {
  font-size: var(--font-size-6);
  color: var(--color-b-fixed);
}
.posts span {
  position: relative;
  font-size: var(--font-size-6);
  font-weight: bold;
  border-radius: var(--radius-big);
  background: var(--color-b-fixed);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  color: var(--color-w);
  align-items: center;
  margin-bottom: 1rem;
  transition: var(--transition);
}
.posts figure {
  background: var(--color-w);
  /* display: none; */
}

.title {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media only screen and (min-width: 700px) {
  .posts h3 {
    font-size: var(--font-size-4);
  }
}

@media only screen and (min-width: 900px) {
  .posts {
    gap: 3rem;
    flex-wrap: nowrap;
  }
}
