.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99999;
  backdrop-filter: blur(1rem);
}

.popupContent {
  position: relative;
  background: var(--color-background);
  padding: 5rem;
  border-radius: var(--radius-big) var(--radius-big) 0 0;
  width: 100vw;
  height: 100%;
  text-align: center;
  animation: slideUp 0.2s ease-out;
  overflow-y: auto;
  max-height: 95vh;
  max-width: 85vw;
}
.popupContent h3 {
  text-align: left;
}

.productDetail {
  position: relative;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-gap: 3rem;
}
.productDetail h2 {
  line-height: 1.2;
}
.productDetail h2,
.productDetail p {
  text-align: left;
  padding: 2rem 0 0;
}
.productDetail h3 {
  font-size: var(--font-size-6);
  padding: 3rem 0 0;
}
.productDetail figure {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 450px;
  padding: 2rem;
  background: var(--color-w);
  border-radius: var(--radius);
}
.productDetail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: grayscale(100%);
}

.containerButtons {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.containerButtons svg path {
  fill: var(--color-b-fixed);
}

.stars {
  position: absolute;
  display: flex;
  align-items: center;
  top: -2.75rem;
  padding: 1.5rem 1.25rem;
  gap: 0.25rem;
  left: 2rem;
  flex-direction: column;
  z-index: 999;
  border-radius: var(--radius);
  background: var(--color-y-3);
  color: var(--color-b-fixed);
}
.stars span {
  font-size: var(--font-size-6);
}

.stars svg {
  width: 1.25rem;
  height: 1.25rem;
}
.stars svg path {
  fill: var(--color-b-fixed);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  font-size: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  border-radius: 100%;
  color: var(--color-b-fixed);
  background: var(--color-w);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton svg {
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes brilho {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.brilho {
  animation: brilho 2s ease-in-out 1;
  animation-fill-mode: forwards; /* Mantém o estado final da animação */
  animation-delay: 12s;
}

@media screen and (max-width: 900px) {
  .popupContent {
    padding: 4rem 2rem;
  }
  .closeButton {
    position: fixed;
    right: 8vw;
    top: 2rem;
    margin: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .productDetail {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .productDetail h2 {
    font-size: var(--font-size-4);
    padding: 1rem 0 0;
  }
  .productDetail figure {
    width: 100%;
    max-height: 250px;
    padding: 1.5rem;
  }

  .stars {
    top: -2rem;
    left: 2rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
  }
  .stars span {
    font-size: 0.8rem;
  }
}
