:root {
  font-size: 16px;
  --color-y: papayawhip;
  --color-b: #000;
  --color-w: #fff;
  --radius: 1rem;
  --radius-big: 1.5rem;
  --font: 'Sora', sans-serif;
  --font-size-min: 0.75rem;
  --navDrawerDurationEnterMS: 250ms;
  --easingDecelerate: cubic-bezier(0, 0, 0.2, 1);
}

/* @font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.otf');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Scroll, Open Type Features */
html {
  scroll-behavior: smooth;
  /* font-feature-settings: 'ss04' 1, 'ss03' 1, 'ss02' 1; */
}

body,
main {
  position: relative;
  height: 100%;
}
body {
  display: block;
  text-align: center;
  font-family: var(--font);
  font-size: 0;
  background: var(--color-y);
}
header {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 1.25rem 2rem;
  z-index: 99999;
}
header .container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  font-size: 1.5rem;
}

#menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  padding: 0;
  width: 26px;
  height: 26px;
  font-size: 0;
  background: transparent;
}
.hamburger {
  position: relative;
  width: 26px;
  height: 4px;
  background: var(--color-b);
  transition: all 0.25s ease;
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 26px;
  height: 4px;
  background: var(--color-b);
  z-index: 1;
  transition: all 0.25s ease;
}
.hamburger:before {
  top: -8px;
  width: 18px;
}
.hamburger:after {
  top: 8px;
  width: 14px;
}
#menu:hover .hamburger:before,
#menu:hover .hamburger:after {
  width: 26px;
}
#menu.open .hamburger {
  transform: rotate(45deg);
}
#menu.open .hamburger:before,
#menu.open .hamburger:after {
  top: 0;
  width: 26px;
  transform: rotate(90deg);
}
.layer {
  position: fixed;
  background: rgb(0 0 0 / 25%);
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: var(--easingDecelerate);
  z-index: 2;
}
.layer-active {
  display: inline-block;
}
.remove-scrollbar {
  overflow: hidden;
}

nav {
  height: 100%;
  width: 75vw;
  background: var(--color-w);
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  transition: all var(--navDrawerDurationEnterMS) var(--easingDecelerate);
  transform: translateX(50%);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
nav.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
nav li {
  padding: 0;
}
nav a {
  display: inline-block;
  margin: 1rem 0;
  color: var(--color-b);
}
nav .button {
  margin-top: 1rem;
}
nav .button:hover,
nav .button:focus {
  background: var(--color-y);
}

section {
  width: 100%;
  padding: 4rem 2rem;
}
main section:first-child {
  padding-top: 6rem;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: inline-block;
}
.fullscreen {
  display: table;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}
.fullscreen-container {
  display: table-cell;
  vertical-align: middle;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-b);
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}

a,
button,
.button,
.svg {
  transition: all 0.25s ease;
}

p,
li,
h1,
h2,
h3 {
  font-family: var(--font);
  color: var(--color-b);
  padding-bottom: 2rem;
}

p,
ul {
  padding-bottom: 1.5rem;
}
ul {
  margin-left: 1.2rem;
}
li {
  padding: 0 0 0.5rem 0.5rem;
}

p,
li {
  font-weight: normal;
  line-height: 1.6;
}

h1,
h2,
h3,
a,
strong,
button,
.button,
#logo {
  font-weight: 700;
}

h1,
.home h1 {
  font-size: 2rem;
}

h2,
nav a,
.blog h3,
.contactContainer a {
  font-size: 1.5rem;
}

h3,
.button,
.subtitle {
  font-size: 1.2rem;
}

p,
li,
input,
textarea,
input,
footer p,
.cards p {
  font-size: 1rem;
}

/* Special */
.contactContainer {
  background: var(--color-w);
  display: grid;
  padding: 4rem 2rem 2rem;
  border-radius: var(--radius-big);
}
.specialContainer {
  text-align: left;
  max-width: 620px;
  margin: 0 auto;
}
.specialContainer p {
  padding: 0 0 1.5rem;
}

/* Link Border */
nav a,
p a,
article a,
.blog h3 a {
  border-bottom: 4px solid transparent;
}

nav a:hover,
nav a:focus,
p a:hover,
p a:focus,
article a:hover,
article a:focus,
.blog h3 a:hover,
.blog h3 a:focus {
  border-color: var(--color-b);
}

/* Article */
article {
  position: relative;
  margin: 2rem auto;
  max-width: 650px;
  text-align: left;
}
article h1 {
  padding: 2rem 0 4rem;
}
article h2,
article h3 {
  padding: 2.5rem 0 1.5rem 0;
}
article ol {
  list-style-type: decimal;
  padding: 1rem 2rem;
}
article ul {
  list-style-type: disc;
  padding: 0 0 28px 28px;
}
article li {
  padding: 0.5rem 0;
}
article blockquote {
  width: auto;
  float: none;
  display: block;
  border-left: 3px solid var(--color-b);
  padding: 1rem;
  margin: 0 auto 2rem;
  color: #666;
  font-style: italic;
}

/* Button */
.button {
  position: relative;
  display: inline-block;
  float: none;
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  line-height: 1;
  color: var(--color-w);
  background: var(--color-b);
  border: none;
  border-radius: var(--radius-big);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--color-w);
  color: var(--color-b);
}

/* Home */
.home {
  display: flex;
  flex-direction: column-reverse;
  grid-gap: 2rem;
  text-align: left;
}

/* Profile */
#profile {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 124px;
  height: 124px;
}
#profile img {
  float: none;
  background: var(--color-w);
  border-radius: 50%;
}

/* Subtitle */
.subtitle {
  text-align: left;
  margin-bottom: 1rem;
}

/* Social Icons */
.icons {
  display: inline-block;
  margin: 1rem 0 2rem;
}
.icons a {
  float: left;
  margin: 0 1.25rem 0 0;
  padding: 0.5rem 0;
  font-size: 0;
  background: transparent;
  transition: all 0.25s ease;
}
.icons a:hover,
.icons a:focus {
  opacity: 0.75;
}
.icons svg {
  width: 20px;
}

/* Blog */
.blog {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem 10rem;
  text-align: left;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}
.blog li {
  position: relative;
  float: left;
  padding: 0;
}
.blog li:nth-child(3) {
  margin-bottom: 0;
}
.blog h3 {
  line-height: 1.3;
  padding-bottom: 1.5rem;
}

/* Cards */
.cards {
  display: grid;
  grid-gap: 2rem;
}
.cards a {
  position: relative;
  margin: 0;
  padding: 2.5rem;
  flex-basis: 100%;
  color: inherit;
  text-decoration: none;
  border-radius: var(--radius-big);
  background: var(--color-w);
  top: 0;
  transition: ease 0.25s;
  overflow: hidden;
}
.cards a:hover,
.cards a:focus {
  top: -8px;
  /* box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 5%); */
}

.cards h3,
.cards p {
  margin: 0;
  padding: 1.5rem 0 0;
}
.cards p {
  margin-bottom: 2.5rem;
}
.cards h3 {
  margin-top: 1.5rem;
}
.cards figure {
  display: flex;
  width: 124px;
  height: 124px;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  margin: 0 auto;
  background: var(--color-y);
}
.cards svg {
  width: 48px;
  height: 48px;
}
.cards span {
  display: inline-block;
  font-weight: normal;
  font-size: var(--font-size-min);
  background: var(--color-y);
  color: var(--color-b);
  padding: 0.2rem 0.7rem;
  margin: 0.25rem 0.25rem 0 0;
  border-radius: 5rem;
  z-index: -1;
}

@keyframes rotate-gradient {
  to {
    transform: rotate(360deg);
  }
}

/* Grid */

.home,
.cards,
.contactContainer {
  grid-template-columns: 1fr;
}

/* GIFs for warning pages */
.gif {
  height: 300px;
  width: 100%;
  max-width: 300px;
  float: none;
  margin: 0 auto 3rem;
  border-radius: 1rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-g);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

/* Circle */
#circle {
  position: fixed;
  width: 400px;
  height: 400px;
  background: var(--color-w);
  border-radius: 100%;
  transition: transform 0.2s;
  margin: -280px 0 0 -260px;
  z-index: -1;
}

/* Footer */
footer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
footer p {
  text-align: left;
  padding: 0;
}
footer a {
  opacity: 1;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer svg {
  width: 26px;
  height: 26px;
}

/* Colors */
.svg {
  fill: var(--color-b);
}

.removeScroll {
  overflow: hidden;
}

/* Phone */
@media only screen and (min-width: 520px) {
  header,
  footer {
    padding: 2rem 4rem;
  }

  section {
    padding: 6rem 4rem;
  }
  .home h1 {
    font-size: 3rem;
  }
  #profile {
    width: 180px;
    height: 180px;
  }

  .icons a {
    margin: 0 1.75rem 0 0;
  }
  .icons svg {
    width: 24px;
  }
}

/* Tablet */
@media only screen and (min-width: 880px) {
  nav {
    width: 50vw;
  }
  .home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 4rem;
  }
  .home h1 {
    font-size: 5.5rem;
    line-height: 1.1;
  }

  h1 {
    font-size: 4rem;
  }

  article h1,
  h2 {
    font-size: 3rem;
  }

  article h2,
  .blog h3,
  nav a,
  nav .button,
  .contactContainer a {
    font-size: 2rem;
  }

  h3,
  .subtitle,
  .description {
    font-size: 1.5rem;
  }

  p,
  .button,
  li {
    font-size: 1.2rem;
  }

  .subtitle {
    margin-bottom: 1.5rem;
  }
  .subtitle:before {
    top: 0.9rem;
  }
  .description {
    padding: 0 0 2rem;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .cards {
    grid-gap: 2.5rem;
  }
  .cards svg {
    width: 56px;
    height: 56px;
  }
  .cards figure {
    height: 140px;
    width: 140px;
  }

  .blog {
    grid-template-columns: 1fr 1fr;
  }

  .specialContainer p {
    padding-top: 1rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards a {
    padding: 3rem;
  }
}
