:root {
  font-size: 16px;
  --color-y: papayawhip;
  --color-b: #000;
  --color-w: #fff;
  --radius: 1.5rem;
  --radius-big: 2rem;
  --font: 'obviously', sans-serif;
  --font-size-1: 0.6rem;
  --font-size-2: 0.6rem;
  --font-size-3: 0.6rem;
  --font-size-4: 0.85rem;
  --font-size-min: 0.6rem;
  --navDrawerDurationEnterMS: 250ms;
  --easingDecelerate: cubic-bezier(0, 0, 0.2, 1);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Scroll */
html {
  scroll-behavior: smooth;
}

body,
main {
  position: relative;
  height: 100%;
}
body {
  display: block;
  text-align: center;
  font-family: var(--font);
  font-size: 0;
  background: var(--color-y);
}
header {
  position: absolute;
  width: 100%;
  padding: 1.25rem 2rem;
  z-index: 99999;
}
header .container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background: transparent;
  z-index: 9;
  border-radius: var(--radius);
  margin-right: -1rem;
}
#menu:hover,
#menu:focus {
  background-color: var(--color-w);
}
.hamburger {
  position: relative;
  width: 26px;
  height: 4px;
  background: var(--color-b);
  transition: all 0.25s ease;
  border-radius: var(--radius);
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 26px;
  height: 4px;
  background: var(--color-b);
  z-index: 1;
  transition: all 0.25s ease;
  border-radius: var(--radius);
}
.hamburger:before {
  top: -8px;
  width: 18px;
}
.hamburger:after {
  top: 8px;
  width: 14px;
}
#menu:hover .hamburger:before,
#menu:hover .hamburger:after {
  width: 26px;
}
#menu.open .hamburger {
  transform: rotate(45deg);
}
#menu.open .hamburger:before,
#menu.open .hamburger:after {
  top: 0;
  width: 26px;
  transform: rotate(90deg);
}

.layer {
  position: fixed;
  background: rgb(0 0 0 / 50%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0, 0, 0.3, 1);
}
.layerActive {
  visibility: visible;
  opacity: 1;
  animation: fade 0.25s ease;
}
.removeScroll {
  overflow: hidden;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

nav {
  height: 100%;
  width: 75vw;
  background: var(--color-w);
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  transition: all var(--navDrawerDurationEnterMS) var(--easingDecelerate);
  transform: translateX(50%);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
nav.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--color-w);
}
nav li {
  padding: 0;
}
nav a {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem 4vw;
  color: var(--color-b);
}
nav a:hover,
nav a:focus {
  background: var(--color-y);
}

section {
  width: 100%;
  padding: 4rem 2rem;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: inline-block;
}
.fullscreen {
  display: table;
  min-height: 100vh;
  padding-top: 6rem;
}
.fullscreen-container {
  display: table-cell;
  vertical-align: middle;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-b);
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}

a,
button,
.button,
.svg {
  transition: all 0.25s ease;
}

p,
li,
h1,
h2,
h3 {
  font-family: var(--font);
  color: var(--color-b);
  padding-bottom: 2rem;
  line-height: 1.4;
}

p,
ul {
  padding-bottom: 1.5rem;
}
ul {
  margin-left: 1.2rem;
}
li {
  padding: 0 0 0.5rem 0.5rem;
}

p,
li {
  font-weight: normal;
  line-height: 1.6;
}

h1,
h2,
h3,
a,
strong,
button,
.button,
#logo {
  font-weight: 700;
}

h1,
.home h1,
.contactContainer h2 {
  font-size: 1.5rem;
}

#logo,
h2,
.posts h3,
.contactContainer a {
  font-size: 1.2rem;
}

h3,
nav a,
.button,
.subtitle {
  font-size: 1.1rem;
}

p,
li,
input,
textarea,
input,
footer p,
.cards p {
  font-size: var(--font-size-4);
}

#logo {
  height: 3rem;
  line-height: 2.2;
  padding: 0 1.25rem;
  margin-left: -1.25rem;
  border-radius: var(--radius);
}
#logo:hover,
#logo:focus {
  background: var(--color-w);
}

/* Contact */
.contactContainer {
  background: var(--color-w);
  display: grid;
  padding: 4rem 2rem;
  border-radius: var(--radius-big);
  max-width: 800px;
}
.contactContainer p {
  margin: 0 auto;
  max-width: 800px;
}

/* About */
.aboutContainer {
  text-align: left;
  margin: 0 auto;
}
.aboutContainer p {
  padding: 0 0 1rem;
}

/* Link Border */
p a,
article a,
.posts h3 a {
  border-bottom: 4px solid transparent;
}

nav a:hover,
nav a:focus,
p a:hover,
p a:focus,
article a:hover,
article a:focus,
.posts h3 a:hover,
.posts h3 a:focus {
  border-color: var(--color-b);
}

/* Article */
article {
  position: relative;
  margin: 2rem auto;
  max-width: 650px;
  text-align: left;
}
article h1 {
  padding: 2rem 0 4rem;
}
article h2,
article h3 {
  padding: 2.5rem 0 1.5rem 0;
}
article ol {
  list-style-type: decimal;
  padding: 1rem 2rem;
}
article ul {
  list-style-type: disc;
  padding: 0 0 28px 28px;
}
article li {
  padding: 0.5rem 0;
}
article blockquote {
  width: auto;
  float: none;
  display: block;
  border-left: 3px solid var(--color-b);
  padding: 1rem;
  margin: 0 auto 2rem;
  color: #666;
  font-style: italic;
}

/* Button */
.button {
  position: relative;
  display: inline-block;
  float: none;
  margin: 0.5rem 0;
  padding: 1rem 3rem;
  line-height: 1;
  color: var(--color-w);
  background: var(--color-b);
  border: none;
  border-radius: var(--radius-big);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--color-w);
  color: var(--color-b);
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

/* Profile */
#profile {
  position: relative;
  margin: 0 auto 2rem;
  display: flex;
  width: 100px;
  height: 100px;
}
#profile img {
  float: none;
  background: var(--color-b);
  border-radius: 50%;
}

/* #profile :before {
  content: '';
  position: absolute;
  inset: -5px;
  transform: translate(10px, 8px);
  z-index: -1;
  background: conic-gradient(from 90deg at 40% -25%, #fffffd, #ff0000);
  filter: blur(10px);
  border-radius: 200px;
} */

/* Subtitle */
.subtitle {
  text-align: left;
  margin-bottom: 1rem;
}

/* Social Icons */
.icons {
  display: inline-block;
  margin: 1rem 0;
}
.icons a {
  float: left;
  margin: 0 0 0;
  padding: 0.75rem;
  font-size: 0;
  background: transparent;
  transition: all 0.25s ease;
  border-radius: var(--radius);
}
.icons a:hover,
.icons a:focus {
  background: var(--color-w);
}
.icons svg {
  width: 20px;
}

/* Posts */
.posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem 4rem;
  text-align: left;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}
.posts h3 {
  padding-bottom: 1.5rem;
}
.posts p {
  font-size: var(--font-size-4);
}
.posts-data {
  text-transform: uppercase;
  font-size: var(--font-size-4);
}
.posts figure {
  background: var(--color-w);
  display: none;
}
.posts span {
  font-size: 4rem;
}
.posts a {
  float: left;
  width: 100%;
  background: var(--color-w);
  border-radius: var(--radius);
  padding: 2rem;
}
.posts a:hover,
.posts a:focus {
  transform: translateY(-1rem);
}

/* Cards */
.cards {
  display: grid;
  grid-gap: 2rem;
}
.cards a {
  position: relative;
  margin: 0;
  padding: 2.5rem;
  flex-basis: 100%;
  color: inherit;
  text-decoration: none;
  border-radius: var(--radius-big);
  background: var(--color-w);
  top: 0;
  transition: ease 0.25s;
  overflow: hidden;
}
.cards a:hover,
.cards a:focus {
  top: -8px;
  /* box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 5%); */
}
.cards h3,
.cards p {
  margin: 0;
  padding: 1.5rem 0 0;
}
.cards p {
  font-size: var(--font-size-4);
  margin-bottom: 2.5rem;
}
.cards h3 {
  margin-top: 1.5rem;
}
.cards figure {
  display: flex;
  width: 124px;
  height: 124px;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  margin: 0 auto;
  background: var(--color-y);
}
.cards svg {
  width: 48px;
  height: 48px;
}
.cards span {
  display: inline-block;
  font-weight: normal;
  font-size: var(--font-size-min);
  background: var(--color-y);
  color: var(--color-b);
  padding: 0rem 0.6rem 0.2rem;
  margin: 0.25rem 0.25rem 0 0;
  border-radius: 5rem;
  z-index: -1;
}

@keyframes rotate-gradient {
  to {
    transform: rotate(360deg);
  }
}

/* Grid */
.home,
.cards {
  grid-template-columns: 1fr;
}

/* Circle */
#circle {
  position: fixed;
  width: 400px;
  height: 400px;
  background: var(--color-w);
  border-radius: 100%;
  transition: transform 0.2s;
  margin: -280px 0 0 -260px;
  z-index: -1;
}

/* Footer */
footer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
footer .container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
footer p {
  text-align: left;
  padding: 0;
  font-size: var(--font-size-4);
}
footer a {
  opacity: 1;
}
footer a svg {
  width: 1.2rem;
  height: 1.2rem;
}
footer p svg {
  width: var(--font-size-4);
  height: var(--font-size-4);
  padding-top: 0.25rem;
}

/* Colors */
.svg {
  fill: var(--color-b);
}

/* Mobile + */
@media only screen and (min-width: 520px) {
  header,
  footer {
    padding: 1.75rem 4rem;
  }
  section {
    padding: 6rem 4rem;
  }

  .home h1,
  .contactContainer h2 {
    font-size: 2.4rem;
  }

  .icons a {
    margin: 0 0.25rem;
  }
  .icons svg {
    width: 24px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .posts a {
    padding: 3rem;
  }
}

/* Tablet + */
@media only screen and (min-width: 880px) {
  nav {
    width: 45vw;
  }

  h1 {
    font-size: 3.5rem;
  }

  .home h1,
  article h1,
  h2 {
    font-size: 2.5rem;
  }

  #profile {
    width: 120px;
    height: 120px;
  }

  nav a,
  article h2,
  .posts h3,
  .contactContainer a {
    font-size: 1.5rem;
  }

  h3,
  .subtitle,
  .description {
    font-size: 1.3rem;
  }

  p,
  .button,
  li {
    font-size: 1rem;
  }

  .subtitle {
    margin-bottom: 1.5rem;
  }
  .subtitle:before {
    top: 0.9rem;
  }
  .description {
    padding: 0 0 2rem;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards {
    grid-gap: 2.5rem;
  }
  .cards svg {
    width: 52px;
    height: 52px;
  }
  .cards figure {
    height: 140px;
    width: 140px;
  }

  .posts {
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .aboutContainer p {
    padding-top: 1rem;
  }

  .contactContainer {
    padding: 4rem;
  }
}

/* Desktop + */
@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
