/* Store */
.icon {
  margin-bottom: 1rem;
}
.icon svg {
  width: 3rem;
  height: 3rem;
}

.buttonActive {
  background: var(--color-b) !important;
  color: var(--color-w) !important;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.buttons button {
  width: auto;
  padding: 0.75rem 1.25rem;
  border-radius: var(--radius);
  border: 0;
  background: var(--color-w);
  color: var(--color-b);
  box-shadow: var(--shadow);
  transition: var(--transition-hover);
  font-size: var(--font-size-1);
}

.container {
  margin-top: 4rem;
}
.container ul {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
}
.container ul li {
  padding: 0;
}
.container ul li a {
  background: var(--color-w);
  border: 0;
  margin: 0;
  border-radius: var(--radius-big);
  transition: var(--transition-hover);
  color: var(--color-b);
  box-shadow: var(--shadow);
  display: flex;
  gap: 1.5rem;
  align-items: center;
  transition: var(--transition);
  text-align: left;
  padding: 2.5rem;
  flex-direction: column;
  max-width: 280px;
  top: 0;
}
.container ul li a:hover,
.container ul li a:focus {
  top: 8px;
  opacity: 0.75;
}
.container ul li a h2 {
  font-size: var(--font-size-2);
  padding-bottom: 1rem;
}
.container ul li a span {
  font-weight: normal;
  font-size: var(--font-size-4);
}
.container ul li a img {
  width: 100%;
  filter: grayscale(100%);
  padding: 1rem;
  background: var(--color-white);
}

.containerDiscount {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 85%;
  padding: 1rem 2rem;
  margin: 5rem auto 1rem;
  border-radius: var(--radius-big);
  align-items: center;
  vertical-align: middle;
  background: transparent;
  border: 5px dashed var(--color-b);
}
.containerDiscount:hover {
  border-color: transparent;
  background: var(--color-w);
}
.containerDiscount div {
  float: left;
  text-align: left;
}
.containerDiscount h3 {
  font-size: var(--font-size-2);
  padding: 1rem 0;
}
.containerDiscount figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background: var(--color-w);
  border-radius: 50%;
  margin-right: 3rem;
}
.containerDiscount svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 520px) {
  .icon {
    margin-top: 3rem;
  }
  .icon svg {
    width: 2rem;
    height: 2rem;
  }

  .buttons {
    flex-wrap: wrap;
  }
  .containerDiscount {
    grid-template-columns: 1fr;
  }
  .containerDiscount figure {
    margin: 0.5rem auto 0;
  }
}
