.container {
  width: 100%;
  margin: 3.5rem auto 0;
  padding: 1.5rem 0 0;
}

.containerInput {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  width: 500px;
  left: calc(50% - 250px); /* Centraliza horizontalmente com base na largura */
  background: var(--color-y-3);
  padding: 0;
  border-radius: 10rem;
  z-index: 9;
}

.searchBar {
  position: relative;
}

.buttonSearch,
.buttonClear {
  position: absolute;
  top: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  background: transparent;
  fill: var(--color-b-fixed);
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSearch {
  right: 0;
  cursor: text;
}
.buttonClear {
  right: 0;
}

.searchInput {
  width: 500px;
  padding: 0 3.5rem 0 2rem;
  border: 1px solid transparent;
  border-radius: var(--radius-big);
  height: 4rem;
  font-size: var(--font-size-5);
  background: transparent;
  color: var(--color-b-fixed);
  transition: all var(--easingDecelerate);
}
.searchInput:focus {
  border-color: var(--color-b-fixed);
  background: transparent;
  outline: none;
}
.searchInput::placeholder {
  font-weight: bold;
  color: var(--color-b-fixed);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0 0.5rem;
}
.buttons button {
  display: flex;
  align-items: center;
  width: auto;
  padding: 0 1.5rem;
  height: 2rem;
  border-radius: var(--radius);
  border: 0;
  background: transparent;
  color: var(--color-b);
  border: 1px solid var(--color-b);
  transition: var(--transition-hover);
  font-size: var(--font-size-6);
  font-family: var(--font-family);
  /* box-shadow: var(--shadow); */
}
.buttonActive {
  background: var(--color-b) !important;
  color: var(--color-w-text) !important;
}

.dropdown {
  position: absolute;
  right: 4rem;
  /* background: yellow; */
}
.dropdown svg {
  top: 0.3rem;
  right: 0.5rem;
  position: absolute;
}
.dropdown svg path,
.buttonSearch svg path,
.buttonClear svg path {
  fill: var(--color-b-fixed) !important;
}

.select {
  width: auto;
  height: 2rem;
  padding: 0 2.5rem 0 1rem;
  font-size: 1rem;
  color: var(--color-b-fixed);
  border: 1px solid transparent;
  border-radius: var(--radius-big);
  background: rgb(0 0 0 / 5%);
  cursor: pointer;
  transition: border-color 0.3s;
  appearance: none; /* Remove a aparência padrão */
  -webkit-appearance: none; /* Remove a aparência padrão em Webkit */
  -moz-appearance: none; /* Remove a aparência padrão em Firefox */
}
.select option {
  color: initial;
}
.select:focus {
  border-color: var(--color-b-fixed);
  outline: none;
  background: transparent;
}

@media screen and (max-width: 699px) {
  .container {
    margin-top: 1rem;
  }
  .containerInput {
    bottom: 1rem;
    gap: 1rem;
    width: 300px;
    left: calc(50% - 150px);
  }
  .searchInput {
    width: 300px;
  }
  .dropdown {
    display: none;
  }

  .searchInput {
    padding: 0 3.25rem 0 1.5rem;
    font-size: var(--font-size-6);
  }

  .buttonSearch,
  .buttonClear,
  .searchInput,
  .select {
    height: var(--height-min);
  }

  .buttons button {
    padding: 0 1rem;
    height: 1.5rem;
  }
}
